*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.links{
    background-color: rgb(58, 57, 57);
    padding: 10px;
    margin: 10px auto;
    border-radius:5px ;
    width: 80%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    color: rgb(245, 245, 245);
}

.card{
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;

    text-align: center; /* النصوص في المنتصف */
    height: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 34, 34);
    align-items: center;

}
h3{
    color: rgb(236, 235, 235);
    padding-top: 20px;
}
h5{
padding-top: 10px;
padding-bottom: 20px;
color: rgb(184, 201, 61);
font-size: 14px;
}
p{
    font-size: 14px;
    color: rgb(194, 191, 191);
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
}